<!DOCTYPE html>
<html>
<head>
  <title>Csa</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body id="<%= params[:controller].parameterize %>_controller">

<div class="header">
  <!-- render partial _login.html.erb builds the form on the right side of header-->
  <%= render :partial => 'sessions/login' %>

  <!-- simple navigation for the tabs in header
        config/navigation.rb-->
  <div class="navigation">
    <%= render_navigation %>
  </div>

  <!--for each key value pair in flash
      print the value
    this is used to return error/success notifies-->
  <% flash.each do |key, value| %>
    <span class="flash_<%= key %>">
      <span class="flash_message"><%= value %></span>
    </span>
  <% end %>

  <!-- Blank URI so browser will request current page when form submitted -->
  <!--drop down box/form for language choice in header
      sends a GET to the current page after submit
      options for dropdown are in LANGUAGES constant variable list
      I18n.locale is the current language passed as second param
      so form knows which option is selected when page loads-->
  <%= form_tag '', method: 'GET', class: 'locale' do %>
      <%= select_tag 'locale', options_for_select(LANGUAGES, I18n.locale), \
                       onchange: 'this.form.submit()' %>
      <%= submit_tag 'Submit', id: 'locale-submit' %>
  <% end %>

</div>
<div class="content">
  <!-- renders the partial notifications/_notifications.html.erb
      if user is logged in-->
  <%= render :partial => 'notifications/notifications' if logged_in? %>
  <%= yield %>
</div>

<div id="footer">
</div>

</body>
</html>
